.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1, h2 {
  text-align: center;
}
.all-forms {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: ;
}

input {
  margin: 10px;
}

.personal, .education, .job {

}