.shop-page {
    display: flex;
    overflow-wrap: break-word;
}

.shop-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    max-width: 70%;
    padding: 1rem;
    gap: 20px;
}